XSD/anillo.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="LordOfTheRings">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="personaje" type="personaje" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:complexType name="personaje">
        <xs:sequence>
            <xs:element name="Nombre" type="xs:string"></xs:element>
            <xs:element name="Raza" type="xs:string"></xs:element>
            <xs:element name="Edad" type="xs:integer"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>